.about {
  // min-height: 800px;
  position: relative;
  &__content {
    border-radius: 2px;
  }
  &__h2 {
    margin-top: 80px;
    display: inline-block;
    text-align: start;
    margin-bottom: 0.5rem;
    &-para {
      display: inline-block;
      margin-top: 0;
    }
    &-lease {
      display: inline-block;
      margin-top: 80px;
      margin-bottom: 20px;
    }
    &-cont {
      margin-bottom: 20px;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
  }
  &__desc {
    width: 39%;

    font-size: 17px;
    align-items: flex-start;
    line-height: 26px;

    color: $text-color;

    span {
      font-weight: 700;
      color: $logo-color;
    }
    &_right {
      align-items: flex-start;
      margin-bottom: 60px;
    }
    p {
      margin-bottom: 30px;
    }
  }

  &__paragraphs {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  &__paragraph {
    display: flex;
    flex-direction: column;

    text-align: center;
    padding: 15px 10px;
    max-width: 23%;
    font-size: 15px;
    line-height: 24px;
    color: $text-color;
    background-color: #fff;
    border-radius: 1px;
    @include trans;
    @include box-shadow;
    @include hs;

    span {
      display: flex;
      font-weight: 700;

      text-align: center;
      flex: 1 1 auto;
      margin-bottom: 30px;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  &__sertif {
    display: flex;

    justify-content: space-around;
    max-width: 100%;
  }
  &__image {
    width: 33%;
    margin-left: 70px;
    margin-top: -200px;
    padding-right: 20px;
    &_small {
      margin-right: 70px;
      width: 35%;
      img {
        max-width: 100%;
        @include box-shadow;
        transition: all ease 0.8s;
        &:hover {
          transform: scale(1.2);
          box-shadow: none;
        }
      }
    }
    img {
      max-width: 100%;
      @include box-shadow;
      transition: all ease 0.8s;
      &:hover {
        transform: scale(1.2);
        box-shadow: none;
      }
    }
  }
  &__pics {
    display: flex;
    justify-content: center;
  }
  &__block {
    padding: 80px 50px;
    background-color: #fff;
  }
  &__info {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
  }
}

.fas {
  margin: 0 auto;
  padding-top: 10px;
  color: $logo-color;
  font-size: 27px;
  margin-bottom: 20px;
}
