.background {
  min-height: 500px;
  background: url("../img/777-min.jpg") center / cover no-repeat fixed;
  &__content {
    position: relative;

    width: 100%;
    height: 500px;
    z-index: 1;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
