.contacts {
  background: $back-color;
  position: relative;

  &__content {
    position: relative;

    width: 100%;

    z-index: 2;
  }

  &__block {
    width: 1140px;

    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0 50px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    padding: 0px 30px 20px 30px;
    @include box-shadow;
    font-size: 15px;
    color: $text-color;
    margin: 10px 0;
    font-size: 16px;
    line-height: 23px;
    hr {
      width: 80px;
      margin: 0 0 15px 0;
    }
  }
  &__map {
    max-width: 45%;
    margin: 10px 0;
    iframe {
      @include box-shadow;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
  }
  &__adress,
  &__time,
  &__mail {
    margin-bottom: 15px;
  }
  &__phone {
    font-size: 23px;
    font-weight: 600;
  }
}
.contacts__mail {
  a {
    transition: all ease 0.4s;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      height: 1px;
      background: $logo-color;
      bottom: -2px;
      transition: all ease 0.4s;
    }
    &:hover {
      &:after {
        left: 0;
        width: 100%;
      }
    }
  }
}
.contacts__phone {
  a {
    transition: all ease 0.4s;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      height: 2px;
      background: $logo-color;
      bottom: -2px;
      transition: all ease 0.4s;
    }
    &:hover {
      &:after {
        left: 0;
        width: 100%;
      }
    }
  }
}
