.header {
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
  &__wrapper {
    margin: 0 auto;
    width: 1140px;
  }
  &__logo {
    width: 150px;
    margin-top: -8px;
    margin-bottom: 5px;

    img {
      max-width: 100%;
    }
  }
  &__menu {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
  }
  &__links {
    display: flex;
    margin: 0 auto;
  }
  a.link {
    color: $text-color;
    font-weight: 600;
    font-size: 16px;
    transition: all ease 0.4s;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      height: 1px;
      background: $logo-color;
      bottom: -2px;
      transition: all ease 0.4s;
    }
    &:hover {
      color: $logo-color;
      &:after {
        left: 0;
        width: 100%;
      }
    }
  }

  &__link {
    padding-right: 60px;
  }
  a {
    text-decoration: none;
  }
  &__link:last-child {
    padding-right: 0;
  }
  &__phone {
    padding-right: 0;
    color: $text-color;
    font-weight: 700;
    font-size: 16px;
    transition: all ease 0.4s;
  }
}
