.tab {
  position: relative;
  background-color: rgb(245, 245, 245);

  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__container {
    padding-top: 80px;
  }
}

.tab__wrapper .tab-item,
.tab__wrapper input {
  display: none;
}
.tab__wrapper .tab-item {
  background-color: #fff;
  width: calc(100% - 9px);
  max-width: 100%;
  padding: 10px 30px;
  margin-bottom: 80px;
  order: 1;
}

.tab__wrapper label {
  background-color: #ffffff;
  height: 35px;
  line-height: 35px;
  min-width: 50px;
  padding: 0px 13px;
  margin: 0 5px 10px 5px;
  font-size: 17px;
  text-align: center;
  float: left;
  color: $text-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  @include box-shadow;
  transition: all ease 0.6s;
  cursor: pointer;
  @include hs;
}

.tab__wrapper input:checked + label {
  background-color: $logo-color;
  color: #fff;
}
.tab__wrapper input:checked + label + .tab-item {
  display: block;
}

.tab__cards {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 25%;
  justify-content: space-between;
}
.tab__card {
  max-width: 247px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $text-color;
  padding: 8px;
  margin: 10px;
  @include box-shadow;
  transition: all 0.8s ease 0s;
  overflow: hidden;
  &_pic {
    margin: 0 auto;
    padding-bottom: 10px;
    height: 150px;
    object-fit: cover;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
  &_title {
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 19px;
  }
  &_txt {
    text-align: left;
    line-height: 20px;
  }
}
a {
  color: $text-color;
  &:hover {
    color: $text-color;
  }
  &:active {
    color: $text-color;
  }
}
.tab__card:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}

.tab-item_old {
  &_block {
    max-width: 1000px;
    margin: 0 auto;

    border-radius: 2px;
    @include box-shadow;
    padding: 50px 20px 100px 50px;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
    h2 {
      font-weight: 700;
    }
    hr {
      max-width: 100px;
      margin: 0px 0 10px 0;
    }
    span {
      font-weight: 600;
    }
    p {
      margin-bottom: 30px;
      display: block;
      max-width: 800px;
    }
    ul {
      margin-bottom: 30px;
    }
    li {
      display: block;
      max-width: 700px;
      margin-bottom: 20px;
      position: relative;
      padding-left: 30px;

      &:before {
        content: "";
        position: absolute;
        top: 23%;
        left: 3px;
        width: 10px;
        height: 5px;

        background: $logo-color;
      }
    }
  }
}
